<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish />
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>10.0.0.181</MSDeployServiceURL>
    <DeployIisAppPath>Home/Cs59/59123250105</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>Administrator</UserName>
    <_SavePWD>True</_SavePWD>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="KruFitNesEntities" Order="1" Enabled="False">
          <Destination Path="Data Source=10.0.0.181,1433;Initial Catalog=KruFitNes;Persist Security Info=True;User ID=student;Password=123456" Name="Data Source=10.0.0.181,1433;Initial Catalog=KruFitNes;Persist Security Info=True;User ID=student;Password=123456;MultipleActiveResultSets=True" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="WebFit.Models.KruFitNesEntities, WebFit" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="KruFitNesConnectionString" Order="2" Enabled="False">
          <Destination Path="Data Source=10.0.0.181,1433;Initial Catalog=KruFitNes;Persist Security Info=True;User ID=student;Password=123456" Name="Data Source=10.0.0.181,1433;Initial Catalog=KruFitNes;Persist Security Info=True;User ID=student;Password=123456;MultipleActiveResultSets=True" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=.\sqlexpress;Initial Catalog=KruFitNes;Integrated Security=True;Application Name=EntityFramework" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\KruFitNesConnectionString_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Data Source=.\sqlexpress;Initial Catalog=KruFitNes;Integrated Security=True;MultipleActiveResultSets=True;Application Name=EntityFramework" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="KruFitNesConnectionString-Web.config Connection String">
      <ParameterValue>Data Source=10.0.0.181,1433;Initial Catalog=KruFitNes;Persist Security Info=True;User ID=student;Password=123456;MultipleActiveResultSets=True</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="KruFitNesEntities-Web.config Connection String">
      <ParameterValue>metadata=res://*/Models.Model1.csdl|res://*/Models.Model1.ssdl|res://*/Models.Model1.msl;provider=System.Data.SqlClient;provider connection string="Data Source=10.0.0.181,1433;Initial Catalog=KruFitNes;Persist Security Info=True;User ID=student;Password=123456;MultipleActiveResultSets=True"</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>